<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">

<head th:replace="fragmentAdmin :: head"></head>

<body>
    <!-- Sidebar -->
    <div class="container-fluid">
        <div class="row">
            <nav th:replace="fragmentAdmin :: sidebar">
                
            </nav>

            <!-- Main Content -->
            <main class="ml-sm-auto col-lg-10 main-content">
                <div th:replace="fragmentAdmin :: header">
                    
                </div>

                <div class="row mt-3">
                    <div class="col-md-6">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">Total Orders</h5>
                                <p class="card-text">100</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">Total Customers</h5>
                                <p class="card-text">50</p>
                            </div>
                        </div>
                    </div>

                    <!-- Add more cards or content as needed -->
                </div>
            </main>
        </div>
    </div>

	<div th:replace="fragmentAdmin :: script"></div>
</body>

</html>