<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">

<head th:replace="fragment :: head"></head>
<style>
    .profile-image {
        margin-top: 10px;
        width: 150px;
        height: 150px;
        object-fit: cover;
        border-radius: 50%;
    }

    .profile-image-container {
        position: relative;
        height: 150px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .file-input-label {
        position: absolute;
        bottom: -30px;
        left: 50%;
        transform: translateX(-50%);
        padding: 8px 12px;
        background-color: #e9ecef;
        border-radius: 50px;
        cursor: pointer;
        transition: background-color 0.3s ease;
    }

    .file-input-label:hover {
        background-color: #f8f9fa;
    }
</style>

<body class="goto-here">
    <div th:replace="fragment :: top"></div>

    <nav th:replace="fragment :: nav"></nav>

    <section class="">
        <div class="container">
            <div th:if="${success}" class="alert alert-success text-center">
                <p th:text="${success}"></p>
            </div>

            <div th:if="${error}" class="text-center alert alert-danger">
                <p th:text="${error}"></p>
            </div>
            <form class="row mt-5" th:object="${user}" th:action="@{/vegetfood/user}" method="post"
                enctype="multipart/form-data">
                <div class="col-md-4">
                    <div class="card text-center">
                        <div class="profile-image-container">
                            <img id="profileImage" th:src="@{'/images/' + ${user.image}}"
                                class="profile-image card-img-top" alt="Profile Image">
                            <label for="avatarInput" class="file-input-label mt-2">Thay đổi ảnh</label>
                            <input type="file" id="avatarInput" name="file" style="display: none;">
                        </div>
                        <div class="card-body">
                            <h5 class="card-title mt-3" th:text="${user.name}"></h5>
                            <p th:text="${user.email}"></p>
                        </div>
                    </div>
                </div>
                <div class="col-md-8">
                    <h2>Thông tin cá nhân</h2>
                    <div>
                        <div class="row">
                            <div class="mb-3 col-8">
                                <input type="hidden" th:value="${user.id}" th:field="*{id}">
                                <label for="nameInput" class="form-label">Tên:</label>
                                <input type="text" class="form-control" id="nameInput" th:field="*{name}"
                                    th:value="${user.name}">
                            </div>
                            <div class="mb-3 col-4">
                                <label for="phoneNumber" class="form-label">Số điện thoại:</label>
                                <input type="text" class="form-control" id="phoneNumber" th:field="*{phoneNumber}"
                                    th:value="${user.phoneNumber}">
                            </div>
                        </div>
                        <div class="mb-3">
                            <label for="emailInput" class="form-label">Email:</label>
                            <input type="email" class="form-control" id="emailInput" th:field="*{email}"
                                th:value="${user.email}">
                        </div>
                        <div class="mb-3">
                            <label for="addressInput" class="form-label">Địa chỉ:</label>
                            <input type="text" class="form-control" id="addressInput" th:field="*{address}"
                                th:value="${user.address}">
                        </div>
                        <input type="hidden" class="form-control" id="active" th:field="*{active}"
                                th:value="${user.active}">
                        <button type="submit" class="btn btn-primary">Cập nhật</button>
                    </div>
                </div>
            </form>
            <div class="row mt-5">
            	<p th:text="${empty}" th:if="${empty != null}"></p>
                <div class="col-md-12" th:if="${empty == null}">
                    <h2>Lịch sử đặt hàng</h2>
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Mã đơn hàng</th>
                                <th>Ngày đặt</th>
                                <th>Số điện thoại</th>
                                <th>Địa chỉ</th>
                                <th>Phí ship</th>
                                <th>Tổng tiền</th>
                                <th>Trạng thái</th>
                                <th>&nbsp;</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr th:each="o : ${orders}">
                                <td th:text="${o.id}"></td>
                                <td th:text="${o.orderDate}"></td>
                                <td th:text="${o.phoneNumber}"></td>
                                <td th:text="${o.address}" style="width: 250px;word-break: break-word;"></td>
                                <td th:text="${o.shippingFee}"></td>
                                <td th:text="${o.totalPrice}"></td>
                                <td th:text="${o.status}"></td>
                                <td>
                                    <a th:href="@{/vegetfood/user/order(oid=${o.id}, id=${user.id}, p=${currentPage})}"
                                        class="btn btn-primary"><i class="fa-solid fa-eye"></i></a>
                                    <button th:attr="onclick='setIdToDelete(\'' + ${o.id} + '\')'" type="button"
                                        class="btn btn-danger deleteButton" data-toggle="modal"
                                        data-target="#deleteItem"
                                        th:if="${o.status == 'CHỜ XÁC NHẬN'}"
                                        th:classappend="${o.status != 'CHỜ XÁC NHẬN'} ? 'disabled' : ''">
                                        <i class="fa-solid fa-trash"></i>
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="row mt-5">
                        <div class="col text-center">
                            <div class="block-27">
                                <ul>
                                    <li th:if="${currentPage > 1}">
                                        <a th:href="@{/vegetfood/user(id=${user.id}, p=${currentPage - 1})}">&lt;</a>
                                    </li>
                                    <li th:each="i: ${#numbers.sequence(1, totalPages)}"
                                        th:classappend="${currentPage == i ? 'active' : ''}">
                                        <a th:href="@{/vegetfood/user(id=${user.id}, p=${i})}" th:text="${i}"></a>
                                    </li>
                                    <li th:if="${currentPage < totalPages}">
                                        <a th:href="@{/vegetfood/user(id=${user.id}, p=${currentPage + 1})}">&gt;</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <div class="mb-5"></div>

    <footer th:replace="fragment :: footer"></footer>

    <!-- loader -->
    <div id="ftco-loader" class="show fullscreen"><svg class="circular" width="48px" height="48px">
            <circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee" />
            <circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10"
                stroke="#F96D00" />
        </svg></div>

    <div class="modal fade" id="deleteItem" tabindex="-1" role="dialog" aria-labelledby="" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <form th:action="@{/vegetfood/user/order(p=${currentPage}, id=${user.id})}" method="post" class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Hủy đơn hàng</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true" class="close-button">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>Bạn có chắc muốn hủy đơn hàng này không?</p>
                    <input type="hidden" name="oid" id="idToDelete">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary close-button" data-dismiss="modal">Đóng</button>
                    <button type="submit" class="btn btn-danger">Xác nhận</button>
                </div>
            </form>
        </div>
    </div>

    <div th:replace="fragment :: script"></div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"></script>
    <script>
        const avatarInput = document.getElementById('avatarInput');
        const profileImage = document.getElementById('profileImage');

        avatarInput.addEventListener('change', function (event) {
            const input = event.target;
            if (input.files && input.files[0]) {
                const reader = new FileReader();
                reader.onload = function (e) {
                    profileImage.src = e.target.result;
                };
                reader.readAsDataURL(input.files[0]);
            }
        });

        document.addEventListener("DOMContentLoaded", function () {
            var deleteButtons = document.querySelectorAll(".deleteButton");
            var closeButtons = document.querySelectorAll(".close-button");
            var deleteItemModal = new bootstrap.Modal(document.getElementById("deleteItem"));

            deleteButtons.forEach(function (button) {
                button.addEventListener("click", function () {
                    deleteItemModal.show();
                });
            });

            closeButtons.forEach(function (button) {
                button.addEventListener("click", function () {
                    deleteItemModal.hide();
                });
            });
        });

        function setIdToDelete(id) {
            document.getElementById('idToDelete').value = id;
        }

    </script>

</body>

</html>