<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">

<head th:replace="fragment :: head"></head>

<body class="goto-here">
<div th:replace="fragment :: top"></div>

<nav th:replace="fragment :: nav"></nav>

<div class="hero-wrap hero-bread" style="background-image: url('/images/bg_1.jpg');">
    <div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-center">
            <div class="col-md-9 ftco-animate text-center">
                <p class="breadcrumbs"><span class="mr-2"><a th:href="@{/vegetfood}">Home</a></span> <span>Checkout</span></p>
                <h1 class="mb-0 bread">Checkout</h1>
            </div>
        </div>
    </div>
</div>

<section class="ftco-section">
    <div class="container">
        <div class="col justify-content-center">
           <h2 class="text-center text-uppercase">Đặt hàng thành công!</h2>
           <p class="text-center">Chúc mừng [[${session.user.name}]] đã đặt hàng thành công!</p>
           <p class="text-center text-italic">Chúng tôi sẽ sớm giao hàng đến bạn, xin cảm ơn!</p>
           <p class="text-center text-italic" th:text="${paymentMethod}"></p>
          <p class="text-center">
          	 <a th:href="@{/vegetfood/shop}">Tiếp tục mua sắm</a>
          </p>
        </div>
    </div>
</section> <!-- .section -->

<footer th:replace="fragment :: footer"></footer>

<!-- loader -->
<div id="ftco-loader" class="show fullscreen"><svg class="circular" width="48px" height="48px">
    <circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee" />
    <circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10"
            stroke="#F96D00" />
</svg></div>
<div th:replace="fragment :: script"></div>

</body>
</html>